.row{
    display: flex;
}

.card{
    position: relative;
    padding: 50px;
    background-color: white;
    border: 2px solid black;
}

.game-container{
    display: flex;
    flex-direction: column;
}

span{
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 45px;
    color: black;
}

.container{
    position: relative;
}

.result{
    position: absolute;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 50px;
    font-size: 30px;
    z-index: 5;
    transform: translate(2%,60%);
}

.blur-game{
    filter: blur(2px);
}

.cover-of-result{
    position: absolute;
    width: 500px;
    height: auto;
    background-color: gray;
    z-index: 1;
}

.players{
    color: white;
    font-size: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    justify-content: center;
    box-shadow: 10px 10px 13px 0px rgb(4, 68, 68);
}

.form-input{
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 3px;
}

.form-btn{
    width: 150px;
    margin: 3px;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    color: teal;
}

.form-container{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    color: teal;
    font-weight: 800;
}